@using Microsoft.EntityFrameworkCore.Metadata.Internal
@{
    ViewData["Title"] = "Додати продукт";
}
@model ArmiVit.Models.ViewsModel.ProductViewModel
<section class="product-section">
    <div class="product-card">
        <h2>Додати продукт</h2>

        <form method="post" asp-action="AddProduct">
            @Html.AntiForgeryToken()

            <div class="field">
                <label>Імʼя</label>
                <input asp-for="Name" class="form-control" />
            </div>

            <div class="field">
                <label>Ціна</label>
                <input asp-for="Price" type="number" value="" step="0.01" placeholder="₴ 0.00" class="form-control" />
            </div>

            <div class="field">
                <label>Кількість</label>
                <input asp-for="Quantity" value="" placeholder="0" type="number" class="form-control" />
            </div>

            <div class="field">
                <label>Опис</label>
                <textarea asp-for="Description" class="form-control"></textarea>
            </div>
            <div class="field">
                <label>Фото продукту</label>
                <input asp-for="ImageFile" type="file" class="form-control" accept="image/*" />
            </div>
            <div class="field">
                <label>Категорія</label>
                <select asp-for="CategoryId" class="form-control">
                    <option value="">Виберіть категорію</option>
                    @foreach (var category in Model.Categories ?? new List<Categories>())
                    {
                        <option value="@category.Id">@category.Name</option>
                    }
                </select>
            </div>

            <button type="submit" class="btn btn-primary mt-2">Зберегти</button>
        </form>
    </div>
</section>
<section class="container mt-4">
    <div class="row g-4">

        @foreach (var item in Model.Products)
        {

            <div class="col-md-4">
                <div class="card shadow-sm h-100">

                    @if (!string.IsNullOrEmpty(item.ImagePath))
                    {
                        <img src="~/images/@item.ImagePath"
                             class="card-img-top"
                             style="height:220px; object-fit:cover;" />
                    }

                    <div class="card-body text-center">
                        <h5 class="card-title">@item.Name</h5>

                        <p class="card-text">
                            @item.Description
                        </p>

                        <p class="card-text">
                            <strong>Ціна:</strong> @item.Price ₴
                        </p>

                        <p class="card-text">
                            <strong>Кількість:</strong> @item.Quantity
                        </p>
                    </div>

                </div>
            </div>
        }

    </div>
</section>

